page-admin-story-review {
    .container { 
        height: 80%;
        position: relative;
        border: 1px solid grey; 
        border-radius: 2px;
      }

      .list{
        margin:0px;
        height:75%;
    }

}
